<div class="ActivityGraph__Weapper">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Gráfico de visualizações</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-8">
                    <line-chart></line-chart>
                </div>
                <div class="col-sm-4">
                    <p>Data points</p>
                </div>
            </div>
        </div>
    </div>
</div>
